<!doctype html>
	<html lang="en">
		<head>
			<title><%- title %></title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta charset="UTF-8">
			
			<link rel="stylesheet" href="/css/style.css" media="all">
			<% if (ENV_DEVELOPMENT) { %>
				<script src="http://localhost:35729/livereload.js"></script>
			<% } %>
		</head>
	<body>
		<div class="page">
			<div class="header">
				<img src="img/logo-nobox--horizontal.svg" width="265" alt="Nobox" />
			</div>