<% include header %>
<a href="https://still-cliffs-31425.herokuapp.com/?image=examples/coral.jpg" class="vrview" target="_blank">
	<img src="img/virtual-reality.png" alt="Google VR" />
	<span class="tooltip">Google VR</span>
</a>
<div class="section">
	<ul class="juicer-feed" data-feed-id="bemind"></ul>
</div>
<% include footer %>