@import 'embed';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0; padding: 0;
	outline: 0;
}
body,
html {
	background: #f5f5f5;
	min-height: 100%;
}
.header {
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.38);
	-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.38);
	-ms-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.38);
	-o-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.38);
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.38);
	background-color: #fff;
	width: 100%;
	height: 80px;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section {
	padding: 15px 15px;
	.juicer-feed h1.referral a {
		display: none!important;
	}	
}
.vrview {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.18);
	-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.18);
	-ms-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.18);
	-o-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.18);
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.18);
	background:  #fff;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 110px; right: 15px;
	z-index: 9;
	.tooltip {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		background: #fff;
		font-family: 'Verdana';
		font-size: 14px;
		color: #979797;
		padding: 10px;
		display: block;
		position: absolute;
		top: 15px; left: -100px;
		white-space: nowrap;
		opacity: 0;
	}
	&:hover {
		.tooltip { opacity: 1; }
	}
}