@charset "UTF-8";
@font-face {
  font-family: "fontawesome-webfont";
  src: url(//assets.juicer.io/fontawesome-webfont-97ec3b6ad6ff0377367a3f820b32138a.eot);
  src: url(//assets.juicer.io/fontawesome-webfont-97ec3b6ad6ff0377367a3f820b32138a.eot?#iefix) format("embedded-opentype"), url(//assets.juicer.io/fontawesome-webfont-4779cb6a456138f7eef3c20b987b2fdd.woff) format("woff"), url(//assets.juicer.io/fontawesome-webfont-2d3df2ed20c010680e20e82fa301edd9.ttf) format("truetype"), url(//assets.juicer.io/fontawesome-webfont-a21182b2eb8c247031c2bcc5a00d1af7.svg#fontawesome-webfont) format("svg");
  font-weight: normal;
  font-style: normal; }
.j-loading-container {
  width: 100%;
  position: absolute;
  z-index: 99;
  height: 100%;
  background: rgba(242, 242, 242, 0.6);
  top: 0; }

.j-loading-container .j-loading {
  position: fixed;
  left: 58.5%; }

@media all and (max-width: 1000px) {
  .j-loading-container .j-loading {
    left: 50%; } }
.j-loading {
  -moz-animation: loader 2s infinite ease;
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
  width: 30px;
  height: 30px;
  border: 4px solid #F17E6F;
  margin: 0 auto;
  font-size: 0;
  color: transparent; }

.j-loading:before {
  -moz-animation: loader-inner 2s infinite ease-in;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #F17E6F;
  content: ''; }

@-moz-keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }
@-webkit-keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }
@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }
.juicer-feed {
  *zoom: 1;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.5;
  letter-spacing: -0.04em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  position: relative;
  margin: 0 auto !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0; }

.juicer-feed:after {
  content: "";
  display: table;
  clear: both; }

.juicer-feed .j-stacker {
  display: table;
  table-layout: fixed;
  width: 100%; }

.juicer-feed .j-stacker > * {
  display: table-cell !important;
  vertical-align: top;
  float: none !important; }

.juicer-feed * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.juicer-feed.loaded {
  visibility: visible;
  opacity: 1; }

.juicer-feed .j-loading, .juicer-feed .j-paginate {
  margin: 50px auto; }

.juicer-feed .j-paginate {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  border: 2px solid #F17E6F;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #F17E6F;
  text-align: center;
  padding: 12px 0 10px;
  cursor: pointer;
  background-color: transparent;
  width: 150px;
  display: block;
  text-transform: uppercase; }

.juicer-feed .j-paginate:hover {
  background: #F17E6F;
  color: #F2F2F2; }

.juicer-feed a {
  text-decoration: none !important;
  border-bottom: none; }

.juicer-feed h1.referral {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  margin: 0 auto 15px;
  text-align: center;
  font-weight: 500;
  display: block;
  white-space: nowrap; }

.juicer-feed h1.referral a {
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #3A3A3A;
  display: inline-block; }

.juicer-feed h1.referral a:hover {
  color: #F17E6F; }

.juicer-feed ul.j-filters {
  overflow: hidden;
  *zoom: 1;
  display: -webkit-flex;
  display: flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  list-style-type: none;
  width: 100%;
  margin: 0 0 25px 0; }

.juicer-feed ul.j-filters li {
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  text-align: left;
  list-style-type: none;
  margin: 0;
  width: 190px;
  display: inline-block; }

.juicer-feed ul.j-filters li:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 14px;
  margin: 0 5px 0 0;
  font-weight: normal; }

.juicer-feed ul.j-filters li:hover:after, .juicer-feed ul.j-filters li.selected:after, .juicer-feed ul.j-filters li.highlight:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #F17E6F;
  bottom: 0;
  left: 0;
  position: absolute; }

.juicer-feed ul.j-filters li.all, .juicer-feed ul.j-filters li.grouped {
  background: #232830; }

.juicer-feed ul.j-filters li.all:before, .juicer-feed ul.j-filters li.grouped:before {
  content: '\f0c0'; }

.juicer-feed ul.j-filters li.grouped {
  border-right: 1px solid #e5e5e5; }

.juicer-feed ul.j-filters li.grouped:before {
  content: ''; }

.juicer-feed ul.j-filters li.grouped:last-of-type {
  border: none; }

@media all and (max-width: 500px) {
  .juicer-feed ul.j-filters li {
    width: 33.333%; } }
.juicer-feed .emoji {
  width: 1.5em !important;
  height: 1.5em !important;
  margin-bottom: 0 !important;
  margin-bottom: -0.25em !important;
  display: inline-block; }

.juicer-feed.photos-only li.words {
  display: none; }

.juicer-feed.white li.feed-item, .juicer-feed.user li.feed-item, .juicer-feed.image-grid li.feed-item, .juicer-feed.hip li.feed-item, .juicer-feed.colored-icons li.feed-item, .juicer-feed.gray li.feed-item {
  opacity: 0; }

.juicer-feed.white li.feed-item, .juicer-feed.user li.feed-item, .juicer-feed.juicer-widget li.feed-item, .juicer-feed.colors li.feed-item, .juicer-feed.colored-icons li.feed-item, .juicer-feed.gray li.feed-item {
  padding: 10px;
  background: white;
  color: #3A3A3A;
  margin-bottom: 5%;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 0 1px 1px 0;
  white-space: normal;
  float: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.juicer-feed.white li.feed-item.juicer, .juicer-feed.user li.feed-item.juicer, .juicer-feed.juicer-widget li.feed-item.juicer, .juicer-feed.colors li.feed-item.juicer, .juicer-feed.colored-icons li.feed-item.juicer, .juicer-feed.gray li.feed-item.juicer {
  background: #F17E6F;
  color: white; }

.juicer-feed.white li.feed-item .j-message a, .juicer-feed.white li.feed-item .j-edit a, .juicer-feed.user li.feed-item .j-message a, .juicer-feed.user li.feed-item .j-edit a, .juicer-feed.juicer-widget li.feed-item .j-message a, .juicer-feed.juicer-widget li.feed-item .j-edit a, .juicer-feed.colors li.feed-item .j-message a, .juicer-feed.colors li.feed-item .j-edit a, .juicer-feed.colored-icons li.feed-item .j-message a, .juicer-feed.colored-icons li.feed-item .j-edit a, .juicer-feed.gray li.feed-item .j-message a, .juicer-feed.gray li.feed-item .j-edit a {
  font-weight: bold; }

.juicer-feed.white img, .juicer-feed.white .video-wrapper, .juicer-feed.white .vine-wrapper, .juicer-feed.white .instagram-wrapper, .juicer-feed.white .twitter-wrapper, .juicer-feed.user img, .juicer-feed.user .video-wrapper, .juicer-feed.user .vine-wrapper, .juicer-feed.user .instagram-wrapper, .juicer-feed.user .twitter-wrapper, .juicer-feed.juicer-widget img, .juicer-feed.juicer-widget .video-wrapper, .juicer-feed.juicer-widget .vine-wrapper, .juicer-feed.juicer-widget .instagram-wrapper, .juicer-feed.juicer-widget .twitter-wrapper, .juicer-feed.colors img, .juicer-feed.colors .video-wrapper, .juicer-feed.colors .vine-wrapper, .juicer-feed.colors .instagram-wrapper, .juicer-feed.colors .twitter-wrapper, .juicer-feed.colored-icons img, .juicer-feed.colored-icons .video-wrapper, .juicer-feed.colored-icons .vine-wrapper, .juicer-feed.colored-icons .instagram-wrapper, .juicer-feed.colored-icons .twitter-wrapper, .juicer-feed.gray img, .juicer-feed.gray .video-wrapper, .juicer-feed.gray .vine-wrapper, .juicer-feed.gray .instagram-wrapper, .juicer-feed.gray .twitter-wrapper {
  width: 100%;
  margin-bottom: 10px; }

.juicer-feed.white img iframe, .juicer-feed.white img video, .juicer-feed.white img embed, .juicer-feed.white .video-wrapper iframe, .juicer-feed.white .video-wrapper video, .juicer-feed.white .video-wrapper embed, .juicer-feed.white .vine-wrapper iframe, .juicer-feed.white .vine-wrapper video, .juicer-feed.white .vine-wrapper embed, .juicer-feed.white .instagram-wrapper iframe, .juicer-feed.white .instagram-wrapper video, .juicer-feed.white .instagram-wrapper embed, .juicer-feed.white .twitter-wrapper iframe, .juicer-feed.white .twitter-wrapper video, .juicer-feed.white .twitter-wrapper embed, .juicer-feed.user img iframe, .juicer-feed.user img video, .juicer-feed.user img embed, .juicer-feed.user .video-wrapper iframe, .juicer-feed.user .video-wrapper video, .juicer-feed.user .video-wrapper embed, .juicer-feed.user .vine-wrapper iframe, .juicer-feed.user .vine-wrapper video, .juicer-feed.user .vine-wrapper embed, .juicer-feed.user .instagram-wrapper iframe, .juicer-feed.user .instagram-wrapper video, .juicer-feed.user .instagram-wrapper embed, .juicer-feed.user .twitter-wrapper iframe, .juicer-feed.user .twitter-wrapper video, .juicer-feed.user .twitter-wrapper embed, .juicer-feed.juicer-widget img iframe, .juicer-feed.juicer-widget img video, .juicer-feed.juicer-widget img embed, .juicer-feed.juicer-widget .video-wrapper iframe, .juicer-feed.juicer-widget .video-wrapper video, .juicer-feed.juicer-widget .video-wrapper embed, .juicer-feed.juicer-widget .vine-wrapper iframe, .juicer-feed.juicer-widget .vine-wrapper video, .juicer-feed.juicer-widget .vine-wrapper embed, .juicer-feed.juicer-widget .instagram-wrapper iframe, .juicer-feed.juicer-widget .instagram-wrapper video, .juicer-feed.juicer-widget .instagram-wrapper embed, .juicer-feed.juicer-widget .twitter-wrapper iframe, .juicer-feed.juicer-widget .twitter-wrapper video, .juicer-feed.juicer-widget .twitter-wrapper embed, .juicer-feed.colors img iframe, .juicer-feed.colors img video, .juicer-feed.colors img embed, .juicer-feed.colors .video-wrapper iframe, .juicer-feed.colors .video-wrapper video, .juicer-feed.colors .video-wrapper embed, .juicer-feed.colors .vine-wrapper iframe, .juicer-feed.colors .vine-wrapper video, .juicer-feed.colors .vine-wrapper embed, .juicer-feed.colors .instagram-wrapper iframe, .juicer-feed.colors .instagram-wrapper video, .juicer-feed.colors .instagram-wrapper embed, .juicer-feed.colors .twitter-wrapper iframe, .juicer-feed.colors .twitter-wrapper video, .juicer-feed.colors .twitter-wrapper embed, .juicer-feed.colored-icons img iframe, .juicer-feed.colored-icons img video, .juicer-feed.colored-icons img embed, .juicer-feed.colored-icons .video-wrapper iframe, .juicer-feed.colored-icons .video-wrapper video, .juicer-feed.colored-icons .video-wrapper embed, .juicer-feed.colored-icons .vine-wrapper iframe, .juicer-feed.colored-icons .vine-wrapper video, .juicer-feed.colored-icons .vine-wrapper embed, .juicer-feed.colored-icons .instagram-wrapper iframe, .juicer-feed.colored-icons .instagram-wrapper video, .juicer-feed.colored-icons .instagram-wrapper embed, .juicer-feed.colored-icons .twitter-wrapper iframe, .juicer-feed.colored-icons .twitter-wrapper video, .juicer-feed.colored-icons .twitter-wrapper embed, .juicer-feed.gray img iframe, .juicer-feed.gray img video, .juicer-feed.gray img embed, .juicer-feed.gray .video-wrapper iframe, .juicer-feed.gray .video-wrapper video, .juicer-feed.gray .video-wrapper embed, .juicer-feed.gray .vine-wrapper iframe, .juicer-feed.gray .vine-wrapper video, .juicer-feed.gray .vine-wrapper embed, .juicer-feed.gray .instagram-wrapper iframe, .juicer-feed.gray .instagram-wrapper video, .juicer-feed.gray .instagram-wrapper embed, .juicer-feed.gray .twitter-wrapper iframe, .juicer-feed.gray .twitter-wrapper video, .juicer-feed.gray .twitter-wrapper embed {
  height: 100% !important; }

.juicer-feed.white .j-meta ul, .juicer-feed.user .j-meta ul, .juicer-feed.juicer-widget .j-meta ul, .juicer-feed.colors .j-meta ul, .juicer-feed.colored-icons .j-meta ul, .juicer-feed.gray .j-meta ul {
  margin: 0;
  padding: 0; }

.juicer-feed.juicer-widget.j-modern {
  overflow: visible;
  max-height: 100% !important; }

.juicer-feed.juicer-widget.j-modern .flip-container {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000; }

.juicer-feed.juicer-widget.j-modern .flip-container.flip .flipper {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.juicer-feed.juicer-widget.j-modern .flipper {
  *zoom: 1;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: 0.6s;
  position: relative; }

.juicer-feed.juicer-widget.j-modern .flipper:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.juicer-feed.juicer-widget.j-modern .front, .juicer-feed.juicer-widget.j-modern .back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden; }

.juicer-feed.juicer-widget.j-modern .front {
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  position: relative;
  z-index: 2; }

.juicer-feed.juicer-widget.j-modern .back {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: absolute;
  left: 0;
  top: 0; }

.juicer-feed.juicer-widget.j-modern .flip .front {
  position: absolute;
  top: 0;
  left: 0; }

.juicer-feed.juicer-widget.j-modern .flip .back {
  position: relative; }

.juicer-feed.juicer-widget.j-ie {
  overflow: visible;
  max-height: 100% !important; }

.juicer-feed.juicer-widget.j-ie .flip-container {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000; }

.juicer-feed.juicer-widget.j-ie .flipper {
  *zoom: 1;
  position: relative; }

.juicer-feed.juicer-widget.j-ie .flipper:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.juicer-feed.juicer-widget.j-ie .front, .juicer-feed.juicer-widget.j-ie .back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: 0s;
  -ms-backface-visibility: hidden;
  overflow: hidden; }

.juicer-feed.juicer-widget.j-ie .front {
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  position: relative;
  z-index: 2; }

.juicer-feed.juicer-widget.j-ie .back {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: absolute;
  left: 0;
  top: 0; }

.juicer-feed.juicer-widget.j-ie .flip .front {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0; }

.juicer-feed.juicer-widget.j-ie .flip .back {
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  position: relative; }

.juicer-feed.colors .j-meta a.j-social.facebook, .juicer-feed.colored-icons .j-meta a.j-social.facebook {
  color: #3B5998; }

.juicer-feed.colors .j-meta a.j-social.instagram, .juicer-feed.colored-icons .j-meta a.j-social.instagram {
  color: #3F729B; }

.juicer-feed.colors .j-meta a.j-social.twitter, .juicer-feed.colored-icons .j-meta a.j-social.twitter {
  color: #55ACEE; }

.juicer-feed.colors .j-meta a.j-social.youtube, .juicer-feed.colored-icons .j-meta a.j-social.youtube {
  color: #CC181E; }

.juicer-feed.colors .j-meta a.j-social.tumblr, .juicer-feed.colored-icons .j-meta a.j-social.tumblr {
  color: #375471; }

.juicer-feed.colors .j-meta a.j-social.googleplus, .juicer-feed.colored-icons .j-meta a.j-social.googleplus {
  color: #DD4B39; }

.juicer-feed.colors .j-meta a.j-social.pinterest, .juicer-feed.colored-icons .j-meta a.j-social.pinterest {
  color: #CB2028; }

.juicer-feed.colors .j-meta a.j-social.blog, .juicer-feed.colored-icons .j-meta a.j-social.blog {
  color: #FF6600; }

.juicer-feed.colors .j-meta a.j-social.vine, .juicer-feed.colored-icons .j-meta a.j-social.vine {
  color: #00BF8F; }

.juicer-feed.colors .j-meta a.j-social.soundcloud, .juicer-feed.colored-icons .j-meta a.j-social.soundcloud {
  color: #f30; }

.juicer-feed.colors .j-meta a.j-social.linkedin, .juicer-feed.colored-icons .j-meta a.j-social.linkedin {
  color: #007bb6; }

.juicer-feed.colors .j-meta a.j-social.flickr, .juicer-feed.colored-icons .j-meta a.j-social.flickr {
  color: #ff0084; }

.juicer-feed.colors .j-meta a.j-social.vimeo, .juicer-feed.colored-icons .j-meta a.j-social.vimeo {
  color: #1AB7EA; }

.juicer-feed.colors .j-meta a.j-social.hashtag, .juicer-feed.colored-icons .j-meta a.j-social.hashtag {
  color: #F17E6F; }

.juicer-feed.colors .j-meta a.j-social.yelp, .juicer-feed.colored-icons .j-meta a.j-social.yelp {
  color: #C41200; }

.juicer-feed.colors .j-meta a.j-social.deviantart, .juicer-feed.colored-icons .j-meta a.j-social.deviantart {
  color: #05cc47; }

.juicer-feed.colors .j-meta a.j-social.j-email, .juicer-feed.colored-icons .j-meta a.j-social.j-email {
  color: #F17E6F; }

.juicer-feed.colors .j-meta a.j-social.slack, .juicer-feed.colored-icons .j-meta a.j-social.slack {
  color: #6ecadc; }

.juicer-feed.colors .j-meta a.j-social.spotify, .juicer-feed.colored-icons .j-meta a.j-social.spotify {
  color: #1ed760; }

.juicer-feed.gray li.feed-item {
  background: #C6C8CA;
  color: #464648; }

.juicer-feed.gray a {
  color: #55C1BD; }

.juicer-feed.gray .j-meta a {
  color: #464648; }

.juicer-feed.gray .j-meta a:hover {
  color: #55C1BD; }

.juicer-feed.image-grid li.feed-item, .juicer-feed.slider li.feed-item, .juicer-feed.hip li.feed-item {
  padding: 0; }

.juicer-feed.image-grid li.feed-item:hover .j-text, .juicer-feed.slider li.feed-item:hover .j-text, .juicer-feed.hip li.feed-item:hover .j-text {
  visibility: visible;
  opacity: 1; }

.juicer-feed.image-grid li.feed-item.words, .juicer-feed.slider li.feed-item.words, .juicer-feed.hip li.feed-item.words {
  border-right: 1px solid white;
  border-bottom: 1px solid white; }

.juicer-feed.image-grid li.feed-item.words .j-text, .juicer-feed.slider li.feed-item.words .j-text, .juicer-feed.hip li.feed-item.words .j-text {
  visibility: visible;
  opacity: 1;
  position: relative;
  color: white;
  padding: 75px 5% 85px;
  background: transparent; }

.juicer-feed.image-grid li.feed-item.words .j-text a, .juicer-feed.slider li.feed-item.words .j-text a, .juicer-feed.hip li.feed-item.words .j-text a {
  color: white;
  font-weight: bold; }

.juicer-feed.image-grid li.feed-item.words .j-text a:hover, .juicer-feed.slider li.feed-item.words .j-text a:hover, .juicer-feed.hip li.feed-item.words .j-text a:hover {
  color: #F17E6F; }

.juicer-feed.image-grid li.feed-item.words .j-text p, .juicer-feed.slider li.feed-item.words .j-text p, .juicer-feed.hip li.feed-item.words .j-text p {
  color: white; }

.juicer-feed.image-grid li.feed-item.words .j-meta a, .juicer-feed.slider li.feed-item.words .j-meta a, .juicer-feed.hip li.feed-item.words .j-meta a {
  color: white;
  font-weight: normal; }

.juicer-feed.image-grid li.feed-item.words .j-poster h3, .juicer-feed.image-grid li.feed-item.words .j-poster .j-date, .juicer-feed.slider li.feed-item.words .j-poster h3, .juicer-feed.slider li.feed-item.words .j-poster .j-date, .juicer-feed.hip li.feed-item.words .j-poster h3, .juicer-feed.hip li.feed-item.words .j-poster .j-date {
  color: white; }

.juicer-feed.image-grid .j-text, .juicer-feed.slider .j-text, .juicer-feed.hip .j-text {
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  color: #bababa;
  background: rgba(58, 58, 58, 0.7);
  text-align: center;
  position: absolute;
  padding: 5%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden; }

.juicer-feed.image-grid .j-text:before, .juicer-feed.slider .j-text:before, .juicer-feed.hip .j-text:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.juicer-feed.image-grid .j-text .j-message, .juicer-feed.image-grid .j-text .j-edit, .juicer-feed.slider .j-text .j-message, .juicer-feed.slider .j-text .j-edit, .juicer-feed.hip .j-text .j-message, .juicer-feed.hip .j-text .j-edit {
  display: inline-block;
  vertical-align: middle;
  max-height: 90%;
  overflow: hidden;
  width: 100%; }

.juicer-feed.image-grid .j-text .j-message a, .juicer-feed.image-grid .j-text .j-edit a, .juicer-feed.slider .j-text .j-message a, .juicer-feed.slider .j-text .j-edit a, .juicer-feed.hip .j-text .j-message a, .juicer-feed.hip .j-text .j-edit a {
  color: #F17E6F; }

.juicer-feed.image-grid .j-text .j-message p, .juicer-feed.image-grid .j-text .j-edit p, .juicer-feed.slider .j-text .j-message p, .juicer-feed.slider .j-text .j-edit p, .juicer-feed.hip .j-text .j-message p, .juicer-feed.hip .j-text .j-edit p {
  margin: 0 0 10px 0;
  word-break: break-word;
  color: #bababa; }

.juicer-feed.image-grid .j-text .j-message p:last-of-type, .juicer-feed.image-grid .j-text .j-edit p:last-of-type, .juicer-feed.slider .j-text .j-message p:last-of-type, .juicer-feed.slider .j-text .j-edit p:last-of-type, .juicer-feed.hip .j-text .j-message p:last-of-type, .juicer-feed.hip .j-text .j-edit p:last-of-type {
  margin: 0; }

.juicer-feed.image-grid .j-image.playing + .j-text, .juicer-feed.slider .j-image.playing + .j-text, .juicer-feed.hip .j-image.playing + .j-text {
  visibility: hidden !important;
  opacity: 0 !important; }

.juicer-feed.image-grid .j-meta, .juicer-feed.slider .j-meta, .juicer-feed.hip .j-meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 7px;
  margin: 25px -5% 0;
  text-align: left; }

.juicer-feed.image-grid .j-poster, .juicer-feed.slider .j-poster, .juicer-feed.hip .j-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  height: auto;
  opacity: 0;
  visibility: hidden; }

.juicer-feed.image-grid .j-poster h3, .juicer-feed.image-grid .j-poster .j-date, .juicer-feed.slider .j-poster h3, .juicer-feed.slider .j-poster .j-date, .juicer-feed.hip .j-poster h3, .juicer-feed.hip .j-poster .j-date {
  color: #bababa; }

.juicer-feed.slider {
  position: relative; }

.juicer-feed.slider li.feed-item {
  display: block; }

.juicer-feed.slider li.feed-item a.j-image {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative; }

.juicer-feed.slider li.feed-item a.j-image img {
  width: 100%; }

.juicer-feed.slider li.feed-item.words {
  border-right: none; }

.juicer-feed.slider li.feed-item.words:after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: white;
  position: absolute;
  display: block;
  top: 0;
  right: 0; }

.juicer-feed.slider .slick-track {
  overflow: hidden; }

.juicer-feed.slider .slick-prev, .juicer-feed.slider .slick-next {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0;
  color: transparent;
  outline: none;
  background: rgba(58, 58, 58, 0.7);
  margin: auto 0;
  height: 90px;
  width: auto;
  top: 0;
  bottom: 0;
  line-height: 1;
  z-index: 99; }

.juicer-feed.slider .slick-prev:before, .juicer-feed.slider .slick-next:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 4rem;
  line-height: 43px;
  color: white; }

.juicer-feed.slider .slick-prev:hover:before, .juicer-feed.slider .slick-next:hover:before {
  color: #F17E6F; }

@media all and (max-width: 500px) {
  .juicer-feed.slider .slick-prev, .juicer-feed.slider .slick-next {
    height: 65px; }

  .juicer-feed.slider .slick-prev:before, .juicer-feed.slider .slick-next:before {
    font-size: 2rem; } }
.juicer-feed.slider .slick-prev {
  left: 0;
  padding: 10px 15px 15px 10px; }

.juicer-feed.slider .slick-prev:before {
  content: '\f104'; }

@media all and (max-width: 500px) {
  .juicer-feed.slider .slick-prev {
    padding: 5px 7px 7px 5px; } }
.juicer-feed.slider .slick-next {
  right: 0;
  padding: 10px 10px 15px 15px; }

.juicer-feed.slider .slick-next:before {
  content: '\f105'; }

@media all and (max-width: 500px) {
  .juicer-feed.slider .slick-next {
    padding: 5px 5px 7px 7px; } }
.juicer-feed.slider.j-ie li.feed-item.image-post {
  background: transparent; }

.juicer-feed.slider.j-modern li.feed-item a.j-image img {
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  object-fit: cover; }

.juicer-feed.slider.j-ie li.feed-item a.j-image {
  background-size: cover; }

.juicer-feed.slider.j-ie li.feed-item a.j-image img {
  visibility: hidden; }

.juicer-feed.hip {
  font-family: Courier, monospace; }

.juicer-feed.hip li.feed-item {
  font-size: 14px; }

.juicer-feed.hip li.feed-item.words {
  background: #232323;
  border-color: #333; }

.juicer-feed.hip li.feed-item.words .j-meta a {
  color: #aaa; }

.juicer-feed.hip li.feed-item:hover:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #F17E6F;
  display: block;
  position: absolute;
  bottom: 0; }

.juicer-feed.hip .j-meta {
  padding: 10px 15px; }

.juicer-feed.hip .j-meta nav {
  display: none; }

.juicer-feed.classic li.feed-item {
  background: white;
  margin-bottom: 2%;
  min-height: 100px;
  overflow: hidden; }

.juicer-feed.classic li.feed-item img, .juicer-feed.classic li.feed-item .j-meta {
  position: absolute;
  top: 0;
  width: 100px; }

.juicer-feed.classic li.feed-item .j-meta {
  left: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  padding: 30px 0 0 0; }

.juicer-feed.classic li.feed-item .j-meta a {
  color: white; }

.juicer-feed.classic li.feed-item .j-meta:before {
  content: ''; }

.juicer-feed.classic li.feed-item .j-meta nav {
  float: none;
  display: block;
  display: block;
  font-size: 1.5em; }

.juicer-feed.classic li.feed-item .j-meta ul {
  font-size: 0.75em; }

.juicer-feed.classic li.feed-item .j-meta li {
  margin: 0 10px 10px 0;
  width: auto; }

.juicer-feed.classic li.feed-item .j-meta li:last-of-type {
  margin: 0 0 10px 0; }

.juicer-feed.classic li.feed-item img {
  right: 0; }

@media all and (max-width: 500px) {
  .juicer-feed.classic li.feed-item img {
    position: relative;
    top: 6px; } }
.juicer-feed.classic li.feed-item .j-text {
  font-family: "Georgia", Georgia, serif;
  font-size: 1.25em;
  margin: 0 100px;
  padding: 10px 25px;
  min-height: 100px; }

.juicer-feed.classic li.feed-item .j-message {
  height: 80px;
  display: table-cell;
  vertical-align: middle; }

.juicer-feed.classic li.feed-item .j-message a {
  color: #F17E6F; }

.juicer-feed.classic li.feed-item .info {
  font-size: 0.85rem;
  color: #878787; }

.juicer-feed.classic li.feed-item .info a {
  color: #878787;
  border-bottom: 1px solid; }

.juicer-feed.classic li.feed-item .info a:hover {
  color: #F17E6F; }

.juicer-feed.living-wall {
  overflow: hidden; }

.juicer-feed.living-wall li.feed-item {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 0;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 2; }

.juicer-feed.living-wall .j-icon {
  height: 100%;
  width: 100%;
  border: 1px solid white;
  text-align: center;
  padding-top: 45%;
  line-height: 16px; }

.juicer-feed.living-wall .j-icon:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 32px;
  color: white; }

.juicer-feed.living-wall img {
  max-width: 100%;
  height: auto;
  width: auto;
  min-width: 100%; }

.juicer-feed.living-wall img.landscape {
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  max-width: none;
  max-height: 100%;
  height: 100%; }

.juicer-feed.living-wall ul.actions {
  font-size: 16px; }

.juicer-feed.living-wall .j-text {
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  background: rgba(58, 58, 58, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  text-align: center; }

.juicer-feed.living-wall .j-text:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '+';
  color: white;
  border: 3px solid white;
  width: 50px;
  height: 50px;
  font-size: 42px;
  line-height: 42px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%; }

.juicer-feed.living-wall li.feed-item:hover .j-text {
  visibility: visible;
  opacity: 1; }

.juicer-feed.living-wall h1.referral {
  position: relative;
  z-index: 3;
  background: rgba(58, 58, 58, 0.7);
  padding: 15px;
  display: inline-block;
  float: right; }

.juicer-feed.living-wall h1.referral a {
  color: white; }

.juicer-feed li.feed-item {
  position: relative;
  width: 100%;
  text-align: left;
  margin: 0;
  list-style-type: none;
  display: block; }

.juicer-feed li.feed-item:before {
  content: ''; }

.juicer-feed li.feed-item:hover ul.actions {
  visibility: visible;
  opacity: 1; }

.juicer-feed li.feed-item.j-video a.j-image {
  position: relative;
  display: block; }

.juicer-feed li.feed-item.j-video a.j-image:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 2.5rem;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 4px #999;
  content: '\f04b';
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3; }

.juicer-feed li.feed-item.j-video a.j-image.playing:before {
  opacity: 0;
  content: '\f04c'; }

.juicer-feed li.feed-item.j-video a.j-image.playing:hover:before {
  opacity: 1; }

@media all and (max-width: 500px) {
  .juicer-feed li.feed-item.j-video a.j-image.playing:before {
    display: none; } }
.juicer-feed li.feed-item.j-video.flickr .j-image.playing:before {
  display: none; }

.juicer-feed ul.actions {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  z-index: 4; }

.juicer-feed ul.actions li {
  padding: 5px 10px;
  cursor: pointer;
  background: rgba(241, 126, 111, 0.7);
  color: white;
  display: inline-block;
  margin-left: 1px; }

.juicer-feed ul.actions li:hover {
  background: #F17E6F; }

.juicer-feed ul.actions li.unstick {
  color: #F17E6F;
  background: rgba(242, 242, 242, 0.7);
  border: 1px solid #F17E6F;
  padding: 4px 9px; }

.juicer-feed ul.actions li.unstick:hover {
  background: #F2F2F2; }

.juicer-feed ul.actions li.approve span, .juicer-feed ul.actions li.reject span {
  display: inline; }

.juicer-feed ul.actions li.approve {
  background: rgba(85, 193, 189, 0.7); }

.juicer-feed ul.actions li.approve:hover {
  background: #55C1BD; }

.juicer-feed ul.actions li:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 1em; }

.juicer-feed ul.actions span {
  display: none; }

.juicer-feed li.delete:before {
  content: '\f014'; }

.juicer-feed li.restore:before {
  content: '\f0e2'; }

.juicer-feed li.sticky:before {
  content: '\F08D'; }

.juicer-feed li.unstick:before {
  content: '\F08D'; }

.juicer-feed li.edit:before {
  content: '\f040'; }

.juicer-feed .j-meta {
  margin-top: 25px; }

.juicer-feed .j-meta a {
  color: #bababa; }

.juicer-feed .j-meta a:hover {
  color: #F17E6F; }

.juicer-feed .j-meta ul {
  display: inline-block;
  width: auto !important;
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1em;
  float: none; }

.juicer-feed .j-meta li {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
  background-image: none;
  border: none;
  font-size: 1em;
  font-weight: normal;
  height: auto;
  width: auto; }

.juicer-feed .j-meta li:last-of-type {
  margin-right: 0; }

.juicer-feed .j-meta nav {
  display: inline-block;
  float: right;
  border: none;
  background: transparent;
  position: relative;
  width: auto;
  height: auto; }

.juicer-feed .j-meta a {
  background: transparent;
  width: auto;
  height: auto;
  float: none; }

.juicer-feed .j-meta a span {
  display: none; }

.juicer-feed .j-meta a.j-social {
  font-size: 1.5em;
  line-height: 1;
  float: none;
  margin: 0; }

.juicer-feed .j-meta a:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 1em;
  margin-right: 5px; }

.juicer-feed .j-meta a.comments:before {
  content: '\f086'; }

.juicer-feed .j-meta a.likes:before {
  content: '\f164'; }

.juicer-feed .j-meta a.retweets:before {
  content: '\f079'; }

.juicer-feed .j-meta a.repins:before {
  content: '\f08d'; }

.juicer-feed .j-meta a.views:before {
  content: '\f06e'; }

.juicer-feed .j-meta a.heart:before {
  content: '\f004'; }

.juicer-feed .empty {
  padding: 250px 0;
  text-align: center; }

.juicer-feed .empty h2 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold; }

.juicer-feed .empty a {
  color: #F17E6F; }

.juicer-feed a {
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #3A3A3A; }

.juicer-feed a:hover {
  color: #F17E6F; }

.juicer-feed .video-wrapper, .juicer-feed .vine-wrapper, .juicer-feed .instagram-wrapper, .juicer-feed .twitter-wrapper {
  position: relative; }

.juicer-feed .video-wrapper iframe, .juicer-feed .video-wrapper video, .juicer-feed .video-wrapper embed, .juicer-feed .vine-wrapper iframe, .juicer-feed .vine-wrapper video, .juicer-feed .vine-wrapper embed, .juicer-feed .instagram-wrapper iframe, .juicer-feed .instagram-wrapper video, .juicer-feed .instagram-wrapper embed, .juicer-feed .twitter-wrapper iframe, .juicer-feed .twitter-wrapper video, .juicer-feed .twitter-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; }

.juicer-feed .video-wrapper {
  padding-bottom: 56.25%; }

.juicer-feed .vine-wrapper, .juicer-feed .instagram-wrapper, .juicer-feed .twitter-wrapper {
  padding-bottom: 100%; }

.juicer-feed hr {
  display: none; }

.j-poster {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 10px 0;
  height: 30px; }

.j-poster img {
  float: left;
  width: 30px !important;
  margin: 0 7px 0 0;
  padding: 0; }

.j-poster a {
  color: #3A3A3A; }

.j-poster a:hover {
  color: #F17E6F; }

.j-poster h3 {
  float: left;
  margin: 4px 0 0 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  max-width: 67%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  clear: none;
  color: #3A3A3A;
  line-height: 20px; }

.j-poster .j-date {
  float: right;
  font-size: 14px;
  margin-top: 4px;
  color: #a0a0a0; }

.j-edit span {
  display: block;
  font-size: 0.85rem;
  color: #a0a0a0; }

.j-post-overlay.juicer-feed {
  overflow: hidden;
  *zoom: 1;
  margin: 0 !important; }

.j-post-overlay.juicer-feed .image {
  float: left;
  max-width: 50%; }

.j-post-overlay.juicer-feed .vine-wrapper, .j-post-overlay.juicer-feed .instagram-wrapper, .j-post-overlay.juicer-feed .twitter-wrapper, .j-post-overlay.juicer-feed .video-wrapper {
  float: left;
  width: 50%;
  padding-bottom: 50%; }

.j-post-overlay.juicer-feed .image img {
  margin-bottom: 0 !important;
  display: block;
  width: 100%; }

.j-post-overlay.juicer-feed .j-overlay-text {
  overflow: hidden;
  padding: 25px; }

.j-post-overlay.juicer-feed .j-overlay-text .j-message, .j-post-overlay.juicer-feed .j-overlay-text .j-edit {
  margin-bottom: 25px;
  text-align: left; }

.j-post-overlay.juicer-feed .j-overlay-text .j-message a, .j-post-overlay.juicer-feed .j-overlay-text .j-edit a {
  font-weight: bold; }

.j-post-overlay.juicer-feed .j-overlay-text.words .j-message {
  font-family: 'Georgia', sans-serif;
  font-size: 24px; }

.j-post-overlay.juicer-feed .j-bottom {
  overflow: hidden;
  *zoom: 1; }

.j-post-overlay.juicer-feed .j-meta {
  margin: 15px 0 30px; }

.j-post-overlay.juicer-feed .j-meta nav {
  display: none; }

.j-post-overlay.juicer-feed a.juicer-button {
  float: left;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  border: 2px solid #F17E6F;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #F17E6F;
  text-align: center;
  padding: 12px 0 10px;
  cursor: pointer;
  background-color: transparent;
  padding: 12px 35px; }

.j-post-overlay.juicer-feed a.juicer-button:hover {
  background: #F17E6F;
  color: #F2F2F2; }

.j-post-overlay.juicer-feed a.juicer-button:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 1rem;
  position: relative;
  left: -5px;
  top: 1px; }

@media all and (max-width: 1190px) {
  .j-post-overlay.juicer-feed a.juicer-button {
    margin-bottom: 10px; } }
.j-post-overlay.juicer-feed ul.j-share {
  float: right;
  margin-top: 10px; }

.j-post-overlay.juicer-feed ul.j-share li {
  display: inline-block; }

.j-post-overlay.juicer-feed ul.j-share a {
  font-size: 0;
  color: transparent;
  display: inline-block;
  width: 33px;
  padding: 5px;
  text-align: center; }

.j-post-overlay.juicer-feed ul.j-share a:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 16px;
  color: white;
  position: relative;
  top: 1px; }

.j-post-overlay.juicer-feed ul.j-share a.googleplus:before {
  left: 0; }

@media all and (max-width: 1190px) {
  .j-post-overlay.juicer-feed ul.j-share {
    float: none;
    display: block;
    clear: left; } }
.j-post-overlay.juicer-feed .j-navigate {
  position: absolute;
  bottom: 5px;
  right: 5px; }

.j-post-overlay.juicer-feed .j-navigate a.j-previous, .j-post-overlay.juicer-feed .j-navigate a.j-next {
  cursor: pointer;
  color: #bababa; }

.j-post-overlay.juicer-feed .j-navigate a.j-previous span, .j-post-overlay.juicer-feed .j-navigate a.j-next span {
  display: none; }

.j-post-overlay.juicer-feed .j-navigate a.j-previous:before, .j-post-overlay.juicer-feed .j-navigate a.j-next:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 16px; }

.j-post-overlay.juicer-feed .j-navigate a.j-previous {
  margin-right: 5px; }

.j-post-overlay.juicer-feed .j-navigate a.j-previous:before {
  content: '\f053'; }

.j-post-overlay.juicer-feed .j-navigate a.j-next:before {
  content: '\f054'; }

@media all and (max-width: 800px) {
  .j-post-overlay.juicer-feed .image {
    float: none;
    display: block;
    max-width: 100%; }

  .j-post-overlay.juicer-feed .vine-wrapper, .j-post-overlay.juicer-feed .instagram-wrapper, .j-post-overlay.juicer-feed .twitter-wrapper, .j-post-overlay.juicer-feed .video-wrapper {
    float: none;
    display: block;
    width: 100%;
    padding-bottom: 100%; }

  .j-post-overlay.juicer-feed ul.j-share {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0; } }
.juicer-feed.image-grid .j-post-overlay .j-meta, .juicer-feed.slider .j-post-overlay .j-meta {
  margin: 0 0 15px 0;
  padding: 0;
  position: relative; }

.j-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
  z-index: 99999999;
  outline: none; }

.j-overlay .j-overlay-content {
  margin: 0 auto;
  background: white;
  position: relative;
  color: #3A3A3A;
  font-weight: normal;
  max-height: 90%;
  overflow-y: auto;
  outline: none; }

.j-overlay .j-overlay-content h2 {
  margin-bottom: 1.5rem; }

@media all and (max-width: 800px) {
  .j-overlay .j-overlay-content {
    width: 95% !important; } }
.j-overlay .facebook-warning {
  color: #F17E6F; }

.j-overlay .facebook-warning strong {
  text-decoration: underline;
  font-style: italic; }

.j-overlay .j-close {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 3;
  width: 40px;
  height: 40px;
  text-align: right; }

.j-overlay .j-close:before {
  font-family: "fontawesome-webfont", Arial, sans-serif;
  font-size: 1em;
  content: '\f00d';
  color: #a0a0a0; }

.j-overlay .j-close span {
  display: none; }

.juicer-feed .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.juicer-feed .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.juicer-feed .slick-list:focus {
  outline: none; }

.juicer-feed .slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.juicer-feed .slick-slider .slick-track, .juicer-feed .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.juicer-feed .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }

.juicer-feed .slick-track:before, .juicer-feed .slick-track:after {
  content: "";
  display: table; }

.juicer-feed .slick-track:after {
  clear: both; }

.slick-loading .juicer-feed .slick-track {
  visibility: hidden; }

.juicer-feed .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir="rtl"] .juicer-feed .slick-slide {
  float: right; }

.juicer-feed .slick-slide img {
  display: block; }

.juicer-feed .slick-slide.slick-loading img {
  display: none; }

.juicer-feed .slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .juicer-feed .slick-slide {
  display: block; }

.slick-loading .juicer-feed .slick-slide {
  visibility: hidden; }

.slick-vertical .juicer-feed .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.juicer-feed .facebook {
  background: #3B5998; }

.juicer-feed .facebook:before {
  content: ""; }

.juicer-feed .twitter {
  background: #55ACEE; }

.juicer-feed .twitter:before {
  content: ""; }

.juicer-feed .instagram {
  background: #3F729B; }

.juicer-feed .instagram:before {
  content: ""; }

.juicer-feed .youtube {
  background: #CC181E; }

.juicer-feed .youtube:before {
  content: ""; }

.juicer-feed .tumblr {
  background: #375471; }

.juicer-feed .tumblr:before {
  content: ""; }

.juicer-feed .googleplus {
  background: #DD4B39; }

.juicer-feed .googleplus:before {
  content: ""; }

.juicer-feed .pinterest {
  background: #CB2028; }

.juicer-feed .pinterest:before {
  content: ""; }

.juicer-feed .blog {
  background: #FF6600; }

.juicer-feed .blog:before {
  content: ""; }

.juicer-feed .vine {
  background: #00BF8F; }

.juicer-feed .vine:before {
  content: ""; }

.juicer-feed .soundcloud {
  background: #f30; }

.juicer-feed .soundcloud:before {
  content: ""; }

.juicer-feed .linkedin {
  background: #007bb6; }

.juicer-feed .linkedin:before {
  content: ""; }

.juicer-feed .flickr {
  background: #ff0084; }

.juicer-feed .flickr:before {
  content: ""; }

.juicer-feed .vimeo {
  background: #1AB7EA; }

.juicer-feed .vimeo:before {
  content: ""; }

.juicer-feed .hashtag {
  background: #F17E6F; }

.juicer-feed .hashtag:before {
  content: ""; }

.juicer-feed .yelp {
  background: #C41200; }

.juicer-feed .yelp:before {
  content: ""; }

.juicer-feed .deviantart {
  background: #05cc47; }

.juicer-feed .deviantart:before {
  content: ""; }

.juicer-feed .j-email {
  background: #F17E6F; }

.juicer-feed .j-email:before {
  content: ""; }

.juicer-feed .slack {
  background: #6ecadc; }

.juicer-feed .slack:before {
  content: ""; }

.juicer-feed .spotify {
  background: #1ed760; }

.juicer-feed .spotify:before {
  content: ""; }

.juicer-feed .soundcloud:before {
  position: relative;
  left: -4px; }

.juicer-feed .googleplus:before {
  position: relative;
  left: -0.15em; }

.juicer-feed .hashtag:before {
  -moz-transform: rotate(19deg);
  -ms-transform: rotate(19deg);
  -webkit-transform: rotate(19deg);
  transform: rotate(19deg);
  position: relative;
  left: -2px; }

.juicer-feed .juicer {
  background: #F17E6F; }

.juicer-feed .juicer:before {
  content: url(//assets.juicer.io/small-square-b0b802f5c6e22f252dc418be10126283.png); }

.juicer-feed .j-email:before {
  position: relative;
  top: -1px !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0; }

body,
html {
  background: #f5f5f5;
  min-height: 100%; }

.header {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.38);
  -ms-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.38);
  -o-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.38);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.38);
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center; }

.section {
  padding: 15px 15px; }
  .section .juicer-feed h1.referral a {
    display: none !important; }

.vrview {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 110px;
  right: 15px;
  z-index: 9; }
  .vrview .tooltip {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    font-family: 'Verdana';
    font-size: 14px;
    color: #979797;
    padding: 10px;
    display: block;
    position: absolute;
    top: 15px;
    left: -100px;
    white-space: nowrap;
    opacity: 0; }
  .vrview:hover .tooltip {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
